<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ site.title }}</title>
    <script src="{{ site.baseurl }}/assets/js/jquery-3.4.1.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap-4.4.1.bundle.min.js"></script>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/site.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
</head>
